body {
  font-family: "Times New Roman", "Times", "serif";
  font-size: 100%;
  margin: 0px
}

img {
  max-width: 100%;
  width: auto;
  height: 10%;
}

input, select, button, textarea {
  max-width: 100%;
  max-height: 100%;
}

meter, progress, output {
  max-width: 100%;
  max-height: 100%;
}

div#tswsidecol {
  float: right;
  width: 15%;
  color: black;
  background-color: white;
}

div#tswcontent {
  float: right;
  width: 85%;
  color: black;
  background-color: white;
}

@media only screen and ( max-width : 629px ) {
  div#tswsidecol {
    float: none;
    width: 100%;
  }
  div#tswcontent {
    float: none;
    width: 100%;
  }
  div#tswcentrecombo {
    float: none;
    width: 100%;
  }
}

div#tswcontproper {
  padding-left: 5px;
  padding-right: 5px;
}

div#tswcontainer {
  background-color: white;
}

div#tswsideproper {
  padding-left: 0px;
  padding-right: 5px;
}

div#tswheader {
  color: black;
  background-color: #ff3333;
}

div#tswheader2 {
  color: black;
  background-color: white;
}

div#tswfooter {
  color: black;
  background-color: white;
}

#logo {
  width: 15%;
  margin-left: 0px;
  float: left;
}

#tswcsstabs ul {
  margin: 0px;
  padding: 0px;
  list-style: outside none none;
  display: flex;
  width: 100%
}

#tswcsstabs ul li {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  float: left;
  font-family: "Times New Roman", "Times", "serif";
  font-size: 110%;
  width: calc((1/3)*100%);
}

#tswcsstabs li a {
  color: black;
  background-color: #ff3333;
  border: 1px outset black;
  padding: 8px;
  text-decoration: none;
  display: inline;
  width: 100%;
}

#tswcsstabs li a:hover {
  color: black;
  background-color: #ff6565;
}

 .pulse {
	  animation-name: pulseanim;
	  animation-duration: 2s;
	  animation-iteration-count: infinite;
	  animation-timing-function: ease-in-out
  }
  
@keyframes pulseanim {
  0%, 100% {
    color: red;
  }
  16% {
	  color: purple
  }
  33% {
    color: blue;
  }
  49% {
	  color: lime
  }
  66% {
    color: green;
  }
  82% {
    color: yellow;
  }
}